@import url(http://fonts.googleapis.com/css?family=Ubuntu:400,500);

body {
    font-family: 'Ubuntu', 'Helvetica Neue', 'Helvetica', sans-serif;
    font-weight: 400;
}

.product-picture {
    float: left;
    height: 130px;
    margin-right: 10px;
}

.invalid-field {
     border: 1px solid #FF0000;
}

.error-message{
    color: #FF0000;
}

label {
    font-size: 120%;
    margin-top: 0;
    margin-bottom: 0.25em;
}

.sort-ui, .filter-ui {
    margin-bottom: 1em;
}

.reviews {
    margin: 0;
    padding: 0;
}

.review {
    list-style: none;
    padding: 10px;
    margin-bottom: 0.5em;
    border: 1px solid #CCC;
    background-color: #EEE;
    border-radius: 5px;
    clear: both;
}

.review img {
    float: left;
    max-width: 150px;
    border-radius: 5px;
}

.review .details {
    padding-left: 170px;
}

.review .name,
.review .title,
.review p {
    margin-top: 0;
    margin-bottom: 0.25em;
}

.review .title {
    font-size: 150%;
}
